In [1]:
import pandas as pd
from google.colab import drive

In [2]:
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/My Drive/generated_sales_data.csv')

Mounted at /content/drive

In [3]:
df.head(10)

,SaleID,ProductID,ProductName,Brand,Category,RetailerID,RetailerName,Channel,Location,Quantity,Price,Date
0,1,1,Laptop,BrandA,Electronics,1,TechGear,Online,NaN,3,4500,2024-02-05
1,2,2,Coffee Maker,BrandB,Appliances,1,TechGear,Online,NaN,1,100,2024-02-24
2,3,5,Blender,BrandE,Appliances,1,TechGear,Online,NaN,4,800,2024-02-10
3,4,1,Laptop,BrandA,Electronics,1,TechGear,Online,NaN,2,3000,2024-02-26
4,5,2,Coffee Maker,BrandB,Appliances,3,GadgetWorld,Offline,San Francisco,1,100,2024-02-09
5,6,5,Blender,BrandE,Appliances,1,TechGear,Online,NaN,5,1000,2024-02-06
6,7,4,Desk Chair,BrandD,Furniture,1,TechGear,Online,NaN,5,1500,2024-02-14
7,8,3,Smartphone,BrandC,Electronics,1,TechGear,Online,NaN,2,1600,2024-02-04
8,9,4,Desk Chair,BrandD,Furniture,2,HomeEssentials,Offline,New York,2,600,2024-02-20
9,10,2,Coffee Maker,BrandB,Appliances,2,HomeEssentials,Offline,New York,1,100,2024-02-25

In [4]:
df.isnull().sum()

SaleID            0
ProductID         0
ProductName       0
Brand             0
Category          0
RetailerID        0
RetailerName      0
Channel           0
Location        323
Quantity          0
Price             0
Date              0
dtype: int64

In [5]:
df.map(lambda x: x == ' ').sum()

SaleID          0
ProductID       1
ProductName     0
Brand           0
Category        0
RetailerID      0
RetailerName    0
Channel         0
Location        0
Quantity        0
Price           0
Date            0
dtype: int64

In [6]:
df[df['ProductID'] == ' ']

,SaleID,ProductID,ProductName,Brand,Category,RetailerID,RetailerName,Channel,Location,Quantity,Price,Date
71,1001,,Blender,BrandE,Appliances,2,HomeEssentials,Offline,New York,4,800,2024-02-21

In [7]:
df.dtypes

SaleID           int64
ProductID       object
ProductName     object
Brand           object
Category        object
RetailerID       int64
RetailerName    object
Channel         object
Location        object
Quantity         int64
Price           object
Date            object
dtype: object

In [8]:
df[df['Price'].apply(lambda x: not x.isdigit())]

,SaleID,ProductID,ProductName,Brand,Category,RetailerID,RetailerName,Channel,Location,Quantity,Price,Date
289,1002,6,Desk Lamp,BrandF,Electronics,1,TechGear,Online,NaN,3,100USD,2024-03-01